@model IEnumerable<EvroValExport.Models.News>

@{
    ViewBag.Title = "Новости";
}

<h2>Новости</h2>

<p>
    @Html.ActionLink("Новая новость", "Create", new { id = 1 }, new { @style = "color:maroon;" })
</p>
<table class="table">
    <tr>
        <th>
            Тема
        </th>
        <th>
            Содержание
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }, new { @style = "color:maroon;" }) |
            @Html.ActionLink("Подробности", "Details", new { id=item.Id }, new { @style = "color:maroon;" }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id }, new { @style = "color:maroon;" })
        </td>
    </tr>
}

</table>
