@model EvroValExport.Models.Workers

@{
    ViewBag.Title = "Удаление записи";
}

<h2>Удаление записи</h2>

<h3>Вы уверены, что хотите удалить запись?</h3>
<div>
    <h4>Работник:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ФИО:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>

        <dt>
            Адрес:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Мобильный телефон:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Занимаеая должность:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к таблице", "Index", new { id = 1 }, new { @style = "color:maroon;" })
        </div>
    }
</div>
